* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  color: aliceblue;
  transition: background 0.2s ease-in-out;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  background: #00032b;
  overflow: hidden;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative;
  padding: 10px;
  border-bottom: 2px solid #6eccff;
}

.header h1 {
  text-align: center;
  width: 100%;
  font-size: 2.5rem;
}

.header div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  gap: 10px;
  position: absolute;
  height: 100%;
}

.header div a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
.header div a:hover {
  background: #2f316d;
}

.header div a img {
  width: 30px;
  height: 30px;
}

.button-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.button {
  display: flex;
  width: 100%;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  font-size: 30px;
  cursor: default;
  border: none;
  background-color: #00032b;
  cursor: pointer;
  min-width: 40px;
}
button:hover{
  background-color: #2f316d;
}

#display {
  font-size: 4rem;
  padding: 20px;
  text-align: end;
  border: none;
  outline: none;
  background: transparent;
  cursor: default;
}

#previousOperand {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  font-size: 3rem;
}

.special-btn {
  color: #6eccff;
}
.operators {
  color: #ff8800;
}

.equalBtn {
  background: #ffa43c;
  color: #ffffff;
}
.equalBtn:hover{
  background: #ff8800;
}
